body{
    background-image: url('../img/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}
.about-img {
    position: relative;
    overflow: hidden;
}
.mt-10{
    margin-top: 10%;
}
.img-desktop{
    width: 50%;
}
.bg-img-link{
    background-image: url('../img/DesktopIcons.png');
}